﻿@{
    ViewData["Title"] = "Practica Usuarios";
}

<div class="text-center">
    <h1 class="display-4">Practica Usuarios</h1>

    <p><a href="./GestionUsuarios.html" target="_blank">Cliente AJAX Gestion Usuarios</a></p>

    <p><a href="./index.html" target="_blank">Usuarios Angular</a></p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
