﻿@{
    ViewData["Title"] = "Practica Usuarios";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a herf="./ejemploWeaFor_AJAX.html"></a>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
